.leftside, .rightside {
    
    height:55vh;
    width:100%;

    
}

.leftside {
    background:rgb(197, 195, 195);
    padding:10px;
}

.rightside {
    background:rgb(197, 195, 195);
    padding:10px;
}

.Lhead {
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid black;
}

.Rhead {
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid black;
}

.G1 {
    font-size: 20px;
    text-align: left;
    border-bottom: 3px solid black;
}

.G2 {
    font-size: 20px;
    text-align: left;
    border-bottom: 3px solid black;
}

.G3 {
    font-size: 20px;
    text-align: left;
    border-bottom: 3px solid black;
}

.G4 {
    font-size: 20px;
    text-align: left;
    border-bottom: 3px solid black;
}

.G5 {
    font-size: 20px;
    text-align: left;
    border-bottom: 3px solid black;
}

.DTE {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
}

.num {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
}

.WMY {
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid black;
}

.subCGoal {
    font-size: 20px;
    text-align: center;
}

.btn1 {
    background-color: #19506e;
    color: white;
}

.gbtn1 {
    background-color: #19506e;
    color: white;
}

.gbtn2 {
    background-color: #19506e;
    color: white;
}

.gbtn3 {
    background-color: #19506e;
    color: white;
}

.gbtn4 {
    background-color: #19506e;
    color: white;
}

.gbtn5 {
    background-color: #19506e;
    color: white;
}